*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Roboto Slab', serif; 
    
}

.container{
    
    max-width: 215px;
    height: 100%;
    margin:  6em auto;
    padding: 5em;
    
    
}

#text{
    text-align: center;
    margin-bottom: 2em;
    font-family: 'M PLUS 1 Code', sans-serif;
}
.robot{
    width: 50%;
    position: absolute;
    right: 12em;
    
}
#btn {
    display: block;
    margin:1em 2em;
    background-color:transparent;
    border:1px solid black;
    padding:1em 2em;
   color: black;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    border-radius: 15px;
}
#btn:link , #btn:visited{
    background-color:transparent;
    border:1px solid black;
}
#btn:focus,#btn:hover{
    background-color: black;
    color: skyblue;
    border-radius: 10px;
}

@media (min-width:505px){

    #btn{
        margin-left: -3.5em;
    }

    .container{
        padding-right: 0.5em;
        margin-right: 0;
    }

 #text{
     padding-right: 6em;
 }

}